<div class="margin">
  <mat-grid-list cols="2" rowHeight="500px" gutterSize="30px">
    <mat-grid-tile class="gridBox">
      <app-blood-pressure-graph [data]="vitals[0].bloodPressure"></app-blood-pressure-graph>
    </mat-grid-tile>
    <mat-grid-tile class="gridBox">
      <app-cholesterol-graph [data]="vitals[0].cholesterol"></app-cholesterol-graph>
    </mat-grid-tile>
    <mat-grid-tile class="gridBox">
      <app-weight-graph [data]="vitals[0].weight"></app-weight-graph>
    </mat-grid-tile>
    <mat-grid-tile class="gridBox">
      <app-heart-rate-graph [data]="vitals[0].heartRate"></app-heart-rate-graph>
    </mat-grid-tile>
  </mat-grid-list>
</div>
