<div>
  <body>
    <table>
      <thead>
        <tr>
          <th>Substance</th>
          <th>Reaction</th>
          <th>Severity</th>
          <th class="toolsColumn"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let allergies of allergy; let i = index;">
          <td>
            <span *ngIf="!allergies.editing; else editSubstance;">{{ allergies.substance }}</span>
            <ng-template #editSubstance>
              <input type="text" [(ngModel)]="allergies.substance" />
            </ng-template>
          </td>
          <td>
            <span *ngIf="!allergies.editing; else editReaction;">{{ allergies.reaction }}</span>
            <ng-template #editReaction>
              <input type="text" [(ngModel)]="allergies.reaction" />
            </ng-template>
          </td>
          <td>
            <span *ngIf="!allergies.editing; else editSeverity;">{{ allergies.severity }}</span>
            <ng-template #editSeverity>
              <input type="text" [(ngModel)]="allergies.severity" />
            </ng-template>
          </td>
          <td class="toolsColumn">
            <span class="icon-trash" (click)="removeAllergy(i)"></span>
            <span class="icon-edit" (click)="allergies.editing = !allergies.editing"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  <div>
    <span class="btn" (click)="addNewAllergy()" [ngClass]="addAllergy ? 'btn--small' : 'btn--primary btn--small'">Add New</span>
    <div *ngIf="addAllergy">
      <div class="form-group input--compressed">
        <div class="form-group__text">
          <div class="input-flex-container">
            <div>
              <input type="text" [(ngModel)]="form.substance" placeholder="Substance">
              <input type="text" [(ngModel)]="form.reaction" placeholder="Reaction">
              <input type="text" [(ngModel)]="form.severity" placeholder="Severity">
            </div>
          </div>
          <div class="saveBtn">
            <span class="btn btn--small btn--primary" (click)="saveNew()">Save</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>