body { 
  margin: 0;
  padding: 20px;
}

th, td {
  height: 35px;
  width: 200px;
  font-size: 14px;
}

th {
  border-top: 1px solid #005073;
  border-bottom: 1px solid #005073;
  background-color: #DFDFDF;
}

tr {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border-bottom: 1px solid #005073;
  color: #005073;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #DFDFDF;
}

.toolsColumn {
  width: 50px;
}

.saveBtn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.input-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 235px;
  padding-right: 235px;
}