.headerBackground {
    overflow: hidden;
    background-color: #107CAD;
    height: 90px;
    width: 100%;
}

.headerText {
   color: #FFFFFF;
   font-weight: 100px;
   padding-left: 15px;
   padding-top: 20px;
   vertical-align: middle;
}

.date {
    float: right;
    right: 0px;
    text-align: right;
    padding-right: 15px;
}

.navBackground {
    overflow: hidden;
    background-color: #DFDFDF;
    height: 50px;
}
.navButtons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.navButtons-flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSpace {
    width: 25%;
}

