<div class="headerBackground">
  <div class="headerText">
    <div>
      <h4>Cisco MyCharts
        <span class="date">{{ today | date:'fullDate' }}</span>
      </h4>
    </div>
    <div>
      <h5>Welcome, {{ patient.firstName }} {{ patient.lastName }}!
        <span class="date">{{today | date:'shortTime'}}</span>
      </h5>
    </div>
  </div>
</div>
<div class="navBackground">
  <div class="navButtons">
    <div class="navButtons-flex-container">
      <button [routerLink]="['/homePage']" class="btn btn--primary btn--small btnSpace">Home</button>
      <button class="btn btn--primary btn--small btnSpace">Patient Profile</button>
      <button [routerLink]="['/vitals']" class="btn btn--primary btn--small btnSpace">Vitals</button>
      <button class="btn btn--primary btn--small btnSpace">Medical History</button>
    </div>
  </div>
</div>