.box {
    background-color: #DFDFDF;
    margin: 25px;
    padding: 15px;
    height: 150px;
    color: #005073;
  }

  .box-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .box-subTitle {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
  }