<div class="margins">
  <div class="box card card--raised">
    <div>
      <div class="box-title">
        <h2>Patient Profile</h2>
      </div>
      <div class="box-subTitle">
        <div> Click to see records of allergies, conditions, family history, and medicaitons. </div>
      </div>
    </div>
  </div>
  <div class="box card card--raised" [routerLink]="['/vitals']">
    <div>
      <div class="box-title">
        <h2>Vitals</h2>
      </div>
      <div class="box-subTitle">
        <div> Click to see records of cholesterol, blood pressure, weight, and heart rate. </div>
      </div>
    </div>
  </div>
  <div class="box card card--raised">
    <div>
      <div class="box-title">
        <h2>Medical History</h2>
      </div>
      <div class="box-subTitle">
        <div> Click to see record of all doctor visits. </div>
      </div>
    </div>
  </div>
</div>