<div>
  <body>
    <table>
      <thead>
        <tr>
          <th>Family Member</th>
          <th>Disagnosis</th>
          <th>Age Onset</th>
          <th class="toolsColumn"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let familyHistory of familyHistory; let i = index;">
          <td>
            <span *ngIf="!familyHistory.editing; else editMember">{{ familyHistory.familyMember }}</span>
            <ng-template #editMember>
              <input type="text" [(ngModel)]="familyHistory.familyMember">
            </ng-template>
          </td>
          <td>
            <span *ngIf="!familyHistory.editing; else editDiagnosis">{{ familyHistory.diagnosis }}</span>
            <ng-template #editDiagnosis>
              <input type="text" [(ngModel)]="familyHistory.diagnosis">
            </ng-template>
          </td>
          <td>
            <span *ngIf="!familyHistory.editing; else editAge">{{ familyHistory.ageOnset }}</span>
            <ng-template #editAge>
              <input type="text" [(ngModel)]="familyHistory.ageOnset">
            </ng-template>
          </td>
          <td class="toolsColumn">
            <span class="icon-trash" (click)="removeFH(i)"></span>
            <span class="icon-edit" (click)="familyHistory.editing = !familyHistory.editing"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  <div>
    <span class="btn" (click)="addNewFH()" [ngClass]="addFH ? 'btn--small' : 'btn--primary btn--small'">Add New</span>
    <div *ngIf="addFH">
      <div class="form-group input--compressed">
        <div class="form-group__text">
          <div class="input-flex-container">
            <div>
              <input type="text" [(ngModel)]="form.familyMember" placeholder="Family Member" />
              <input type="text" [(ngModel)]="form.diagnosis" placeholder="Diagnosis" />
              <input type="text" [(ngModel)]="form.ageOnset" placeholder="Age Onset" />
            </div>
          </div>
          <div class="saveBtn">
            <button class="btn btn--small btn--primary" (click)="saveNew()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
